<section class="user-dashboard page-wrapper" style="display: flex;">
    <aside>
        <app-admin-navbar></app-admin-navbar>
    </aside>
    
    <div class="col-12 col-md-7 col-sm-12 col-lg-9" style="margin-left: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">#1012</th>
                    <td>June 11, 2019 </td>
                    <td>Completed</td>
                    <td>30</td> 
                    <td><a routerLink="/order" class="btn btn-dark btn-small">View</a></td> 
                </tr>
            </tbody> 
        </table>
    </div>
</section>
