<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="">Sneaker Head Shop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar-collapse -->

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a href="#" class="dropdown-toggle cart-icon" data-toggle="dropdown" data-hover="dropdown">
          <i class="tf-ion-android-cart"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img class="media-object img- mr-3" src="assets/images/cart-1.jpg" alt="image" />
            </a>
            <div class="media-body">
              <h6>Ladies Bag</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>1250.00</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div><!-- / Cart Item -->

          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img class="media-object img-fluid mr-3" src="assets/images/cart-2.jpg" alt="image" />
            </a>
            <div class="media-body">
              <h6>Skinny Jeans</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>1250.00</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div><!-- / Cart Item -->

          <div class="cart-summary">
            <span class="h6">Total</span>
            <span class="total-price h6">$1799.00</span>

            <div class="text-center cart-buttons mt-3">
              <a href="#" class="btn btn-small btn-transparent btn-block">View Cart</a>
              <a href="#" class="btn btn-small btn-main btn-block">Checkout</a>
            </div>
          </div>
        </div>
      </li>
        <!-- / Account -->

        <li class="list-inline-item">
          <a class="nav-link" routerLink="">Log Out</a>
        </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-lg-12">
    <nav class="product-info-tabs wc-tabs mt-5 mb-5">
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Nike</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Adidas</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Under Armour</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <section class="products-shop section">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row-align-items-center">
                <div class="col-lg-12 mb-4 mb-lg-0">
                  <div class="section-title">
                    <h2 class="d-block text-left-sm">Nike</h2>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="container">
                  <div class="row">
                    <div class="column">
                      <div class="product m-3">
                        <div class="product-wrap">
                          <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                        </div>
                        <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                          <span class="price">P10000.00</span>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="product m-3">
                        <div class="product-wrap">
                          <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                        </div>
                        <div class="product-info">
                          <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                          <span class="price">P10000.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <section class="products-shop section">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="row-align-items-center">
                  <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="section-title">
                      <h2 class="d-block text-left-sm">Adidas</h2>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="container">
                    <div class="row">
                      <div class="column">
                        <div class="product m-3">
                          <div class="product-wrap">
                            <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                          </div>
                          <div class="product-info">
                            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                            <span class="price">P10000.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="product m-3">
                          <div class="product-wrap">
                            <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                          </div>
                          <div class="product-info">
                            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                            <span class="price">P10000.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <section class="products-shop section">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="row-align-items-center">
                  <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="section-title">
                      <h2 class="d-block text-left-sm">Under Armour</h2>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="container">
                    <div class="row">
                      <div class="column">
                        <div class="product m-3">
                          <div class="product-wrap">
                            <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                          </div>
                          <div class="product-info">
                            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                            <span class="price">P10000.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="column">
                        <div class="product m-3">
                          <div class="product-wrap">
                            <a routerLink=""><img class="img-fluid w-100 mb-3 img-first" src="assets/images/best-sellers/adi-ny90.png"></a>
                          </div>
                          <div class="product-info">
                            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Adidas NY-90</a></h2>
                            <span class="price">P10000.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>