<app-header></app-header>

<ngx-slick-carousel class="main-slider slider" [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/dunk-low.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">NIKE</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Find your </span>PERFECT PAIR</h1>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/adi - header.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">ADIDAS</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Train to be your</span> BEST</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/under armour - header.jpg'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">UNDER ARMOUR</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Stay cool in the </span>HEAT OF THE GAME</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
      
  <section class="section products-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12">
            <img src="assets/images/nike-ad.jpg" alt="Product big thumb"  class="img-fluid w-100">
        </div>
  
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3">Best selllers</h4>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" routerLink="/product-single">
                        <img src="assets/images/best-sellers/adi-samba-og.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Adidas Samba OG</a></h6>
                      <p class="featured-entry-meta">$42.99</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/best-sellers/nike-dunk-low-retro.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Nike Dunk Low Retro</a></h6>
                      <p class="featured-entry-meta">$27.99</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                    <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/best-sellers/ua-grade-school-curry11.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Under Armour Grade School Curry 11 'Future Curry'</a></h6>
                      <p>$38.00</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/best-sellers/nike-af1.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Nike Air Force 1</a></h6>
                      <p class="featured-entry-meta">$35.00</p>
                    </div>
                  </div>
  
                  <div class="media">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/best-sellers/adi-ny90.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Adidas NY 90</a></h6>
                      <p class="featured-entry-meta">$10.60</p>
                    </div>
                  </div>
          </div>
        </div>
  
  
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3">New Arrivals</h4>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" routerLink="/product-single">
                        <img src="assets/images/new arrivals/adi-trae-young3-low-trainers.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Adidas Trae Young 3 Low Trainers</a></h6>
                      <p class="featured-entry-meta">$42.99</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/new arrivals/ua-surge3.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Under Armour Surge 3 Running Shoes</a></h6>
                      <p class="featured-entry-meta">$27.99</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                    <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/new arrivals/nike-sb-force-58.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Nike SB Force 58 Premium</a></h6>
                      <p>$38.00</p>
                    </div>
                  </div>
  
                  <div class="media mb-3">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/new arrivals/adi-rivalry86-low.jpg" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Adidas Rivalry 86 Low</a></h6>
                      <p class="featured-entry-meta">$35.00</p>
                    </div>
                  </div>
  
                  <div class="media">
                      <a class="featured-entry-thumb" href="#">
                        <img src="assets/images/new arrivals/ua-flow-futrxuaa.png" alt="Product thumb" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="#">Under Armour Flow FUTR x UAA</a></h6>
                      <p class="featured-entry-meta">$10.60</p>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ads section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 offset-lg-6">
          <div class="ads-content">
            <span class="h5 deal">Only for the best.</span>
            <p class="text-md mt-3 text-dark">Hurry up! Limited time offer. Grab yours now!</p>
            <!-- syo-timer -->
                <div id="simple-timer" class="syotimer mb-5"></div>
            <a routerLink="/login" class="btn btn-main"><i class="ti-bag mr-2"></i>Shop Now </a>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>